MONGO_URI =  "Your mongodb URI"

LLM_PROVIDER="groq or azure_openai"

GROQ_API_KEY = "Your groq API key" 

# Azure OpenAI
azure_openai_api_key = "Your azure openai api key"
azure_openai_endpoint = "Your azure openai endpoint"
azure_openai_api_version = "Your azure openai api version"
azure_openai_deployment_name = "Your azure openai deployment name"